# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/.dart_tool/

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
*.iml
.vscode/

# Archives
*.zip
